{% extends "ts/index.html" %}


{% block info %}

<script type='text/javascript'>
  function showThemes(){
  $.ajax({
  url : "api/themes/",
  type: "GET",  
  }).done(function(data){
  $('.tests').empty();    
  for (var i = 0; i < data.length; i++ ){
      var option = $('<a/>').attr('class','theme').attr('onclick', "showTests('"+data[i].fields.name+"')").text(data[i].fields.name);
      $('.tests').append(option);    
  }		      
  });		      
  }

		      
  function showTests(theme){		      
  $('.tests').empty();    
  $.ajax({
  url : "api/tests/",
  type: "POST",
  data: {"theme" : theme},			   
  }).done(function(data){
  for (var i = 0; i < data.length; i++) {
      var option = $('<li/>').attr('class','theme').attr('onclick',"startTest('"+data[i].fields.test_name+"')").text(data[i].fields.test_name);
  }  
  $('.tests').append(option);    
  });		      
  }		      
		      

</script>

<ul id="tabs">
    <li class = "themeB" onclick = "showThemes()">Тесты</li>
    <li>Статистика</li>
    <li onclick = "location.href='/testservice/logout/';">Выйти</li>
</ul>
<div class = "tests">
  <div id="listTests">

  </div>
</div>
{% endblock %}
