{% load staticfiles %}
<script type='text/javascript' src='/static/js/jquery.js'></script>
<link rel="stylesheet" type="text/css" href="{% static 'ts/register.css' %}" />

<title>
  Test service
</title>

<style type="text/css" media="screen">
  #header{
    width: 900px;
    height: 200px;
    background-color: #25B33f;
    margin-bottom: 10px;
    background-image: url("{% static 'ts/head.png'%}") 
  }
  #reg{
  padding-left: 200px;
  padding-right: 100px;
  }
  #my_form p input{
    float: center;
    clear: center;
  }
  #my_form p input[type="submit"] {
  -moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
  -webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
  box-shadow:inset 0px 1px 0px 0px #3dc21b;
  background-color:#44c767;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;  
  }
  
  .errorlist{
  color : red;
  }
  
  ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  ul#tabs li {
  display: inline-block;
  background-color: #32c896;
  border-bottom: solid 5px #238b68;
  padding: 5px 20px;
  margin-bottom: 4px;
  color: #fff;
  cursor: pointer;
  }
  ul#tabs li:hover {
  background-color: #238b68;
  }
  ul#tabs li.active {
  background-color: #238b68;
  }
  ul#tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  ul#tab li {
  display: none;
  }
  ul#tab li.active {
  display: block;
  }

  .theme {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  }
  
  .theme:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
  }
	 
</style>
<div id="header">
</div>  


<body>
  <div id="reg">
  {% block info %}
  {% endblock %}
  </div>
</body>  
